<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        <link rel="stylesheet" href="static/style.css">
    <body>
        <table>
            <tr>
                <th>First Name:</th>
                <th>Last Name:</th>
                <th>Gender</th>
            </tr>
            <tr>
                <td>Brad</td>
                <td>Junor</td>
                <td>Great bloke</td>
            </tr>
        </table>

        <h1>My First Heading</h1>
        <p>My first paragraph.</p>
        <img src="static/kye.jpg" alt="KYE IS A GREAT BLOKE">

    </body>
</html>